@mixin to-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar {
    height: 60px;
    width: 100%;
    background-color: #e6e6e6;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
}

.start{
    width: 10%;
    height: 100%;
    @include to-center;
}

.finish{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    font-family: sans-serif;
    font-size: 20px;
}

.other {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbar-item{
    height: 100%;
    width: 10%;
    font-family: sans-serif;
    font-size: 20px;
    @include to-center;
}
